# You app name. It is usually equal to the name of your project.
APP_NAME='Mixpost Pro'

# Your application environment. If you are ready for production, set 'production'
APP_ENV=local

# Is used to encrypt and decrypt sensitive data. Generate it with: 'php artisan key:generate'
APP_KEY=

# Debug mode. If the environment is in production, we recommend setting it to 'false'
APP_DEBUG=true

# URL of your application. Important: it is not allowed to be a slash at the end of the url.
APP_URL=http://localhost

# Mysql connection setup
DB_CONNECTION=mysql # Change this only if you know what you are doing
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=mixpost_db
DB_USERNAME=root
DB_PASSWORD=

# Redis connection setup
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

#Change this only if you know what you are doing
QUEUE_CONNECTION=redis

# Define log channel
MIXPOST_LOG_CHANNEL=mixpost

# This is the path which Mixpost will use to load its core routes and assets
MIXPOST_CORE_PATH=mixpost

# The disk on which to store added files. Disks: "public", "s3". For "s3" you should fill in the AWS_* credentials below.
MIXPOST_DISK=public

# AWS Credentials
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=
AWS_BUCKET=

# SMTP
MAIL_MAILER=smtp
MAIL_HOST=smtp.mailgun.org
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"